html {
    font-family: 'SoDo Sans';
}

body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;

    @media (min-width: 320px) {
        height: 60px;
    }

    @media (min-width: 481px) {
        height: 80px;
    }

    @media (min-width: 769px) {
        height: 100px;
    }

    @media (min-width: 1025px) {
        height: 120px;
    }

    .first_part {
        display: flex;
        flex: 50%;
        align-items: center;

        .MainLogo {
            @media (min-width: 320px) {
                width: 25px;
                height: auto;
                padding-left: 3px;


            }

            @media (min-width: 481px) {
                width: 35px;
                height: auto;
                padding-left: 10px;
            }

            @media (min-width: 769px) {
                width: 55px;
                height: auto;
                padding-left: 10px;
            }

            @media (min-width: 1025px) {
                width: 75px;
                height: auto;
                padding-left: 25px;
            }
        }
    }

    .second_part {
        display: flex;
        flex: 50%;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;

        @media (min-width: 320px) {
            gap: 4px;
            padding-right: 10px;
        }

        @media (min-width: 481px) {
            gap: 8px;
            padding-right: 30px;
        }

        @media (min-width: 769px) {
            gap: 12px;
            padding-right: 60px;
        }

        @media (min-width: 1025px) {
            gap: 16px;
            padding-right: 90px;
        }

        a {
            text-decoration: none;
        }

    }
}

.menus {
    list-style-type: none;
    overflow: hidden;
    display: flex;
    flex-direction: row;

    @media (min-width: 320px) {
        gap: 4px;
    }

    @media (min-width: 481px) {
        gap: 8px;
    }

    @media (min-width: 769px) {
        gap: 12px;
    }

    @media (min-width: 1025px) {
        gap: 16px;
    }

    li {
        a {
            text-decoration: none;

            @media (min-width: 320px) {
                font-size: 10px;
            }

            @media (min-width: 481px) {
                font-size: 10px;
            }

            @media (min-width: 769px) {
                font-size: 15px;
            }

            @media (min-width: 1025px) {
                font-size: 18px;
            }
        }
    }
}

.hero {
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #1e3932;
    color: #f1f8f6;

    @media (min-width: 480px) {
        padding-left: 30px;
        font-size: 4px;
    }

    @media (min-width: 600px) {
        padding-left: 60px;
        font-size: 6px;
    }

    @media (min-width: 801px) {
        padding-left: 90px;
        font-size: 8px;
    }

    @media (min-width: 1025px) {
        padding-left: 120px;
        font-size: 9px;
    }

    @media (min-width:1281px) {
        padding-left: 130px;
        font-size: 11px;
        /* hi-res laptops and desktops */
    }
}

.container {
    display: flex;
    flex-direction: column;

    @media (min-width: 480px) {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    @media (min-width: 600px) {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    @media (min-width: 801px) {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    @media (min-width: 1025px) {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    @media (min-width:1281px) {
        padding-top: 150px;
        padding-bottom: 150px;
        /* hi-res laptops and desktops */
    }

}

.container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f1f8f6;
    padding-bottom: 30px;

    .menus {
        a {
            text-decoration: none;
            color: #000;
        }

        @media (min-width: 320px) {
            gap: 4px;
        }

        @media (min-width: 481px) {
            gap: 8px;
        }

        @media (min-width: 769px) {
            gap: 12px;
        }

        @media (min-width: 1025px) {
            gap: 70px;
            font-size: x-large;
        }

    }
}

.container3 {
    display: flex;
    flex-direction: column;
    background-color: #f1f8f6;
    padding-bottom: 30px;
    background-color: #f3f1e7;

    @media (min-width: 480px) {
        gap: 5px;
    }

    @media (min-width: 600px) {
        gap: 10px;
    }

    @media (min-width: 801px) {
        gap: 10px;
    }

    @media (min-width: 1025px) {
        gap: 15px;
    }

    @media (min-width:1281px) {
        gap: 20px;
    }

    p {
        @media (min-width: 480px) {
            width: 15%;
        }

        @media (min-width: 600px) {
            width: 30%;
        }

        @media (min-width: 801px) {
            width: 40%;
        }

        @media (min-width: 1025px) {
            width: 20%;
        }

        @media (min-width:1281px) {
            width: 40%;
        }
    }
}

.structure2 {
    display: flex;
    flex-direction: row;
    align-items: center;

    @media (min-width: 480px) {
        gap: 25px;
    }

    @media (min-width: 600px) {
        gap: 50px;
    }

    @media (min-width: 801px) {
        gap: 70px;
    }

    @media (min-width: 1025px) {
        gap: 100px;
    }

    @media (min-width:1281px) {
        gap: 150px;
    }
}

.title {
    display: flex;
    flex-direction: column;

    @media (min-width: 480px) {
        padding-left: 10px;
    }

    @media (min-width: 600px) {
        padding-left: 15px;
    }

    @media (min-width: 801px) {
        padding-left: 20px;
    }

    @media (min-width: 1025px) {
        padding-left: 25px;
    }

    @media (min-width:1281px) {
        padding-left: 35px;
    }

}

.section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: flex-start;


    @media (min-width: 480px) {
        max-width: 100px;
        gap: 5px;
    }

    @media (min-width: 600px) {
        max-width: 125px;
        gap: 10px;
    }

    @media (min-width: 801px) {
        max-width: 150px;
        gap: 15px;
    }

    @media (min-width: 1025px) {
        max-width: 200px;
        gap: 20px;
    }

    @media (min-width:1281px) {
        max-width: 400px;
        gap: 25px;
    }

    p {
        width: 100%;
    }

}

.sectionSpecial {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
}

.foto {
    display: flex;
    align-items: flex-start;
    justify-items: flex-start;

    img {
        @media (min-width: 480px) {
            width: 40px;
            height: 40px;
        }

        @media (min-width: 600px) {
            width: 32px;
            height: 24px;
        }

        @media (min-width: 801px) {
            width: 47px;
            height: 35px;
        }

        @media (min-width: 1025px) {
            width: 47px;
            height: 35px;
        }

        @media (min-width:1281px) {
            width: 94px;
            height: 70px;
        }
    }
}

.StarGround {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url(../pics/background/reward_background.jpeg);
    background-color: #d4e9e2;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;

    @media (min-width:480px) {
        height: 200px;
        background-size: 300px 200px;
        padding-left: 8px;

        /* smartphones, Android phones, landscape iPhone */
    }

    @media (min-width:600px) {
        height: 400px;
        background-size: 300px 400px;
        padding-left: 10px;
        /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
    }

    @media (min-width:801px) {
        height: 600px;
        background-size: 300px 600px;
        padding-left: 150px;
    }

    @media (min-width:1025px) {
        height: 820px;
        background-size: 1220px 820px;
        padding-left: 20px;
        /* big landscape tablets, laptops, and desktops */
    }

    @media (min-width:1281px) {
        height: 850px;
        background-size: 1420px 850px;
        padding-left: 30px;
        /* hi-res laptops and desktops */
    }

    a {
        color: #000;
    }

    h1 {
        white-space: normal;
    }
}

.started {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.structure {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    @media (min-width: 480px) {
        gap: 15px;
    }

    @media (min-width: 600px) {
        gap: 20px;
    }

    @media (min-width: 801px) {
        gap: 25px;
    }

    @media (min-width: 1025px) {
        gap: 30px;
    }

    @media (min-width:1281px) {
        gap: 35px;
    }

}



.Simple_Cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
        @media (min-width: 480px) {
            max-width: 280px;
            text-align: center;
            padding-bottom: 30px;
        }

        @media (min-width: 600px) {
            max-width: 280px;
            text-align: center;
            padding-bottom: 30px;
        }

        @media (min-width: 801px) {
            max-width: 280px;
            text-align: center;
            padding-bottom: 30px;
        }

        @media (min-width: 1025px) {
            max-width: 280px;
            text-align: center;
            padding-bottom: 30px;
            gap: 30px;
        }

        @media (min-width:1281px) {
            max-width: 320px;
            text-align: center;
            padding-bottom: 30px;
        }
    }

    a {
        color: #008248;
    }

    img {

        @media (min-width:480px) {
            width: 30px;
            height: 30px;
            /* smartphones, Android phones, landscape iPhone */
        }

        @media (min-width:600px) {
            width: 30px;
            height: 30px;
            /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
        }

        @media (min-width:801px) {
            width: 40px;
            height: 40px;
        }

        @media (min-width:1025px) {
            width: 50px;
            height: 50px;
            /* big landscape tablets, laptops, and desktops */
        }

        @media (min-width:1281px) {
            width: 60px;
            height: 60px;
            /* hi-res laptops and desktops */
        }
    }
}

.structure_narrow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #d4e9e2;

    @media (min-width: 320px) {
        gap: 4px;
    }

    @media (min-width: 481px) {
        gap: 8px;
    }

    @media (min-width: 769px) {
        gap: 12px;
    }

    @media (min-width: 1025px) {
        gap: 80px;
    }

    img {

        @media (min-width: 320px) {
            height: auto;
        }

        @media (min-width: 481px) {
            height: auto;
        }

        @media (min-width: 769px) {
            height: auto;
        }

        @media (min-width: 1025px) {
            height: 350px;
        }
    }
}