html {
  font-family: "SoDo Sans";
}

body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
header .first_part {
  display: flex;
  flex: 50%;
  align-items: center;
}
@media (min-width: 320px) {
  header .first_part .MainLogo {
    width: 25px;
    height: auto;
    padding-left: 3px;
  }
}
@media (min-width: 481px) {
  header .first_part .MainLogo {
    width: 35px;
    height: auto;
    padding-left: 6px;
  }
}
@media (min-width: 769px) {
  header .first_part .MainLogo {
    width: 55px;
    height: auto;
    padding-left: 9px;
  }
}
@media (min-width: 1025px) {
  header .first_part .MainLogo {
    width: 75px;
    height: auto;
    padding-left: 12px;
  }
}
header .second_part {
  display: flex;
  flex: 50%;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
@media (min-width: 320px) {
  header .second_part {
    gap: 4px;
    padding-right: 10px;
  }
}
@media (min-width: 481px) {
  header .second_part {
    gap: 8px;
    padding-right: 30px;
  }
}
@media (min-width: 769px) {
  header .second_part {
    gap: 12px;
    padding-right: 60px;
  }
}
@media (min-width: 1025px) {
  header .second_part {
    gap: 16px;
    padding-right: 90px;
  }
}
header .second_part a {
  text-decoration: none;
}

.menus {
  list-style-type: none;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}
@media (min-width: 320px) {
  .menus {
    gap: 4px;
  }
}
@media (min-width: 481px) {
  .menus {
    gap: 8px;
  }
}
@media (min-width: 769px) {
  .menus {
    gap: 12px;
  }
}
@media (min-width: 1025px) {
  .menus {
    gap: 16px;
  }
}
.menus li a {
  text-decoration: none;
}
@media (min-width: 320px) {
  .menus li a {
    font-size: 10px;
  }
}
@media (min-width: 481px) {
  .menus li a {
    font-size: 10px;
  }
}
@media (min-width: 769px) {
  .menus li a {
    font-size: 15px;
  }
}
@media (min-width: 1025px) {
  .menus li a {
    font-size: 18px;
  }
}

.hero {
  height: 50px;
  display: flex;
  align-items: center;
  background-color: #1e3932;
  color: #f1f8f6;
}
@media (min-width: 480px) {
  .hero {
    padding-left: 30px;
    font-size: 4px;
  }
}
@media (min-width: 600px) {
  .hero {
    padding-left: 60px;
    font-size: 6px;
  }
}
@media (min-width: 801px) {
  .hero {
    padding-left: 90px;
    font-size: 8px;
  }
}
@media (min-width: 1025px) {
  .hero {
    padding-left: 120px;
    font-size: 9px;
  }
}
@media (min-width: 1281px) {
  .hero {
    padding-left: 150px;
    font-size: 11px;
    /* hi-res laptops and desktops */
  }
}

.container {
  display: flex;
  flex-direction: column;
}

.container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f1f8f6;
  padding-top: 10px;
}
.container2 .menus a {
  text-decoration: none;
  color: #000;
}
@media (min-width: 320px) {
  .container2 .menus {
    gap: 4px;
  }
}
@media (min-width: 481px) {
  .container2 .menus {
    gap: 8px;
  }
}
@media (min-width: 769px) {
  .container2 .menus {
    gap: 12px;
  }
}
@media (min-width: 1025px) {
  .container2 .menus {
    gap: 70px;
    font-size: x-large;
  }
}

.StarGround {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url(../pics/background/reward_background.jpeg);
  background-color: #d4e9e2;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
}
@media (min-width: 480px) {
  .StarGround {
    height: 200px;
    background-size: 300px 200px;
    padding-left: 8px;
    /* smartphones, Android phones, landscape iPhone */
  }
}
@media (min-width: 600px) {
  .StarGround {
    height: 400px;
    background-size: 300px 400px;
    padding-left: 10px;
    /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  }
}
@media (min-width: 801px) {
  .StarGround {
    height: 600px;
    background-size: 300px 600px;
    padding-left: 150px;
  }
}
@media (min-width: 1025px) {
  .StarGround {
    height: 820px;
    background-size: 1220px 820px;
    padding-left: 20px;
    /* big landscape tablets, laptops, and desktops */
  }
}
@media (min-width: 1281px) {
  .StarGround {
    height: 850px;
    background-size: 1420px 850px;
    padding-left: 30px;
    /* hi-res laptops and desktops */
  }
}
.StarGround a {
  color: #000;
}
.StarGround h1 {
  white-space: normal;
}

.started {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.structure {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.Simple_Cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (min-width: 480px) {
  .Simple_Cont p {
    max-width: 280px;
    text-align: center;
  }
}
@media (min-width: 600px) {
  .Simple_Cont p {
    max-width: 280px;
    text-align: center;
  }
}
@media (min-width: 801px) {
  .Simple_Cont p {
    max-width: 280px;
    text-align: center;
  }
}
@media (min-width: 1025px) {
  .Simple_Cont p {
    max-width: 280px;
    text-align: center;
  }
}
@media (min-width: 1281px) {
  .Simple_Cont p {
    max-width: 320px;
    text-align: center;
  }
}
@media (min-width: 480px) {
  .Simple_Cont img {
    width: 40px;
    height: 40px;
    /* smartphones, Android phones, landscape iPhone */
  }
}
@media (min-width: 600px) {
  .Simple_Cont img {
    width: 40px;
    height: 40px;
    /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  }
}
@media (min-width: 801px) {
  .Simple_Cont img {
    width: 40px;
    height: 40px;
  }
}
@media (min-width: 1025px) {
  .Simple_Cont img {
    width: 40px;
    height: 40px;
    /* big landscape tablets, laptops, and desktops */
  }
}
@media (min-width: 1281px) {
  .Simple_Cont img {
    width: 40px;
    height: 40px;
    /* hi-res laptops and desktops */
  }
}

.structure_narrow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #d4e9e2;
}
@media (min-width: 320px) {
  .structure_narrow {
    gap: 4px;
  }
}
@media (min-width: 481px) {
  .structure_narrow {
    gap: 8px;
  }
}
@media (min-width: 769px) {
  .structure_narrow {
    gap: 12px;
  }
}
@media (min-width: 1025px) {
  .structure_narrow {
    gap: 80px;
  }
}
@media (min-width: 320px) {
  .structure_narrow img {
    height: auto;
  }
}
@media (min-width: 481px) {
  .structure_narrow img {
    height: auto;
  }
}
@media (min-width: 769px) {
  .structure_narrow img {
    height: auto;
  }
}
@media (min-width: 1025px) {
  .structure_narrow img {
    height: 350px;
  }
}/*# sourceMappingURL=style.css.map */