html {
    font-family: 'SoDo Sans';
}

body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;

    .first_part {
        display: flex;
        flex: 50%;
        align-items: center;

        .MainLogo {
            @media (min-width: 320px) {
                width: 25px;
                height: auto;
                padding-left: 3px;

            }

            @media (min-width: 481px) {
                width: 35px;
                height: auto;
                padding-left: 6px;
            }

            @media (min-width: 769px) {
                width: 55px;
                height: auto;
                padding-left: 9px;
            }

            @media (min-width: 1025px) {
                width: 75px;
                height: auto;
                padding-left: 12px;
            }
        }
    }

    .second_part {
        display: flex;
        flex: 50%;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;

        @media (min-width: 320px) {
            gap: 4px;
            padding-right: 10px;
        }

        @media (min-width: 481px) {
            gap: 8px;
            padding-right: 30px;
        }

        @media (min-width: 769px) {
            gap: 12px;
            padding-right: 60px;
        }

        @media (min-width: 1025px) {
            gap: 16px;
            padding-right: 90px;
        }

        a {
            text-decoration: none;
        }

    }
}

.menus {
    list-style-type: none;
    overflow: hidden;
    display: flex;
    flex-direction: row;


    @media (min-width: 320px) {
        gap: 4px;
    }

    @media (min-width: 481px) {
        gap: 8px;
    }

    @media (min-width: 769px) {
        gap: 12px;
    }

    @media (min-width: 1025px) {
        gap: 16px;
    }

    li {
        a {
            text-decoration: none;

            @media (min-width: 320px) {
                font-size: 10px;
            }

            @media (min-width: 481px) {
                font-size: 10px;
            }

            @media (min-width: 769px) {
                font-size: 15px;
            }

            @media (min-width: 1025px) {
                font-size: 18px;
            }
        }
    }
}

.hero {
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #1e3932;
    color: #f1f8f6;

    @media (min-width: 480px) {
        padding-left: 30px;
        font-size: 4px;
    }

    @media (min-width: 600px) {
        padding-left: 60px;
        font-size: 6px;
    }

    @media (min-width: 801px) {
        padding-left: 90px;
        font-size: 8px;
    }

    @media (min-width: 1025px) {
        padding-left: 120px;
        font-size: 9px;
    }

    @media (min-width:1281px) {
        padding-left: 150px;
        font-size: 11px;
        /* hi-res laptops and desktops */
    }
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  

}

.StarGround {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url(../pics/background/reward_background.jpeg);
    background-color: #d4e9e2;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;

    @media (min-width:480px) {
        height: 200px;
        background-size: 300px 200px;
        padding-left: 8px;

        /* smartphones, Android phones, landscape iPhone */
    }

    @media (min-width:600px) {
        height: 400px;
        background-size: 300px 400px;
        padding-left: 10px;
        /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
    }

    @media (min-width:801px) {
        height: 600px;
        background-size: 300px 600px;
        padding-left: 150px;
    }

    @media (min-width:1025px) {
        height: 820px;
        background-size: 1220px 820px;
        padding-left: 20px;
        /* big landscape tablets, laptops, and desktops */
    }

    @media (min-width:1281px) {
        height: 850px;
        background-size: 1420px 850px;
        padding-left: 30px;
        /* hi-res laptops and desktops */
    }

    a {
        color: #000;
    }

    h1 {
        white-space: normal;
    }
}

.started {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;



}